.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
/* shared styles */
.tex-primary{
    color: #FD6E0A;
}
.bg-secondary{
    background-color: #FFF8F3;
}
.dark-2{
    color: #474747;
}
.text-center{
    text-align: center;
}
.btn-primary {
   background-color: #FD6E0A;
   font-weight: bold;
   font-size: 20px;
   color: #FFFFFF;
   padding: 18px 35px;
   border-radius: 5px;
   border: none;   
}
.section-title{
    font-size: 45px;
    font-weight: bold;
    color: #181818;

}
.section-description{
    font-weight: normal;
    font-size: 18px;
    color: #757575;
}

/* header */
header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    /* background-position: top left, bottom right; */
    background-position: 10px 30px, bottom right;
}
/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
}
.nav-title{
    font-weight: bolder;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 150px;
}
.banner-content{
    width: 585px;
    height: 356px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-pp{
    width: 584px;
    height: 676px;
}
/* main styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}
.items-about{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: bold;
    font-size: 20px;

}

/* what i do styles */
.section-title, .section-description{
    padding: 0px 110px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-title{
    font-size: 20px;
    font-weight: bold;
}
.skill-description{
    color: #757575;
    font-size: 16px;
    font-weight: normal;
}
.skill-container{
    display: flex;
    gap: 24px;
    justify-content: space-around;
    margin-top: 50px;
}

/* resume styles */
.resume-section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
    padding-bottom: 40px;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.experience-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-top: 0px;
    margin-bottom: 10px;
}
.experience-subtitle{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-top: 0px;
    margin-bottom: 20px;
}
.experience-description{
    font-size: 16px;
    font-weight: normal;
    color: #757575;
}
hr{
    margin: 30px 0px;
    border: solid 1px #D1D1D1;
}
.cv-second{
    display: block;
    margin: 50px auto 0 auto;
}
/* .resume-d-btn{
    margin-top: 50px;
} */

/* footer styles */

 footer{
    padding: 130px 190px;
    display: flex;
    gap: 100px;
 }
 .footer-column{
    width: 50%;
 }
 
 .footer-section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
 }
 footer p{
    font-size: 16px;
    font-weight: normal;
    color: #474747;
 }
 /* footer div div a{
    margin-right: 100px;
 } */
.footer-column a{
    margin-right: 20px;
  }
form{
    margin-top: 8px;
  }
 footer input[type="text"], footer input[type="email"]{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 0px 20px;
    margin-bottom: 24px;
    border: none;
    font-size: 16px;
    font-weight: normal;
 }
 footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 20px 20px 60px 20px;
    margin-bottom: 24px;
    border: none;
    font-size: 16px;
    font-weight: normal;
 }